.top_margin {margin-left:130px;
             margin-right:130px;
}
.btn_top_margin {margin-top:30px;
margin-bottom:15;}

.btn_left_top_margin {margin-top:37px;
margin-bottom:15;}

.align_ct {align: top;}
/*top right bottom left*/