<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="head :: head">


    <title>添加广告内容</title>

</head>

<body>
<!--引入wangEditor.css-->
<link rel="stylesheet" type="text/css" href="/dist/css/wangEditor.min.css"/>


<!--引入jquery和wangEditor.js-->   <!--注意：javascript必须放在body最后，否则可能会出现问题-->
<script type="text/javascript" src="/dist/js/lib/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/dist/js/wangEditor.min.js"></script>



<form action="/add/add_ad" method="post" name="upfile">
    <!-- 加载编辑器的容器 -->
    <textarea id="textarea1" name="content" style="height:400px;max-height:500px;">
        <p>请输入内容...</p>
        </textarea>
    <!--这里引用jquery和wangEditor.js-->
    <script type="text/javascript">
    // 获取元素
    var textarea = document.getElementById('textarea1');
    // 生成编辑器
    var editor = new wangEditor(textarea);

    // 上传图片（举例）
    editor.config.uploadImgUrl = '/back';

    <!--// 配置自定义参数（举例）-->
    <!--editor.config.uploadParams = {-->
        <!--token: 'abcdefg',-->
        <!--user: 'wangfupeng1988'-->
    <!--};-->

    <!--// 设置 headers（举例）-->
    <!--editor.config.uploadHeaders = {-->
        <!--'Accept' : 'text/x-json'-->
    <!--};-->



    // 隐藏掉插入网络图片功能。该配置，只有在你正确配置了图片上传功能之后才可用。
    <!--editor.config.hideLinkImg = true;-->

    editor.config.uploadImgFileName = 'file'
    editor.create();



    </script>
    <!--$('#btn1').click(function () {-->
    <!--// 销毁编辑器-->
    <!--editor.destroy();-->
    <!--});-->

    <!--$('#btn2').click(function () {-->
    <!--// 恢复编辑器-->
    <!--editor.undestroy();-->
    <!--});-->


    <button type="submit">提交</button>
</form>


</body>
</html>

<!--<div th:include="footer :: (${user.isAdmin}? #{footer.admin} : #{footer.normaluser})"></div>-->
<!--th:include 是加载模板的内容，而th:replace则会替换当前标签为模板中的标签-->
<!--<div th:include="footer :: #copy-section">-->

<!--模板参数配置-->
<!--th:fragment定义模板的时候可以定义参数：-->

<!--<div th:fragment="frag (onevar,twovar)">-->
<!--<p th:text="${onevar} + ' - ' + ${twovar}">...</p>-->
<!--</div>-->
<!--在 th:include 和 th:replace中我们可以这样传参：-->

<!--<div th:include="::frag (${value1},${value2})">...</div>-->
<!--<div th:include="::frag (onevar=${value1},twovar=${value2})">...</div>-->
<!--此外，定义模板的时候签名也可以不包括参数：<div th:fragment="frag">，我们任然可以通过<div th:include="::frag (onevar=${value1},twovar=${value2})">...</div>这种方式调用模板。这其实和<div th:include="::frag" th:with="onevar=${value1},twovar=${value2}">起到一样的效果-->

<!--th:assert 断言-->

<!--我们可以通过th:assert来方便的验证模板参数<header th:fragment="contentheader(title)" th:assert="${!#strings.isEmpty(title)}">...</header>-->

<!--th:remove 删除代码-->